

@if (MCNGameState==1) {
    @*memorizing and choosing game state*@
    if (memorizetimer >= 0)
    {
    <h2 id="game-title">REmember the colours and the numbers</h2>
    <div>
        <button class="memorizeelement" style=background-color:@firstcolor>@firstnumber</button>
        <button class="memorizeelement" style=background-color:@secondcolor>@secondnumber</button>
        <button class="memorizeelement" style=background-color:@thirdcolor>@thirdnumber</button>
    </div>
    <div style="font-size:35px;">
        @memorizetimer
    </div>
    }
    else
    {
        <h2>What @con was the @whichbox box?</h2>
        <button @onclick="(() => CheckAnswer(1))">@answer1</button>
        <button @onclick="(() => CheckAnswer(2))">@answer2</button>
        <button @onclick="(() => CheckAnswer(3))">@answer3</button>
        <h3>@mcnanswer</h3>
    }
}
else if (MCNGameState == 2)
{
    @*correct answer game state*@
    <h2>CORRECT ANSWER</h2>
}
else
{
    @*incorrect answer state*@
    <h2>WRONG ANSWER</h2>
}
<br/>
<br/>


@code {

    //MinigameComps.MinigameLogic

}
