@implements IDisposable
<div class="mainwindow" @onmousemove="MyG.MouseMoved">
    <PlayerCursors MyG="MyG" MyDBVars="MyDBVars" MyLobbyNum="MyLobbyNum" MyPlayerNum="MyPlayerNum" />
    <div class="gamewindow">
        @if (!loadingdone)
        {
            <LoadingTest></LoadingTest>
        }
        else
        {
            <div class="player1window">
                <div class="playergame">
                    @if (!GameStart)
                    {
                        <div style="color:springgreen;">WAITING FOR OTHER PLAYERS</div>
                        <div style="color:springgreen;">CURRENT PLAYERS: @MyDBVars.PlayersInLobby</div>
                    }
                    else
                    {
                        <PlayerGame WhatGame="3"/>
                    }
                </div>
                <div class="playerhealth">
                    <Player1HealthBar myhealth="MyDBVars.P1Health" />
                </div>
            </div>
            <div class="player2window">
                <div class="playergame">
                    @if (!GameStart)
                    {
                        <div style="color:springgreen;">WAITING FOR OTHER PLAYERS</div>
                        <div style="color:springgreen;">CURRENT PLAYERS: @MyDBVars.PlayersInLobby</div>
                    }
                    else
                    {
                        <PlayerGame WhatGame="1" />
                    }
                </div>
                <div class="playerhealth">
                    <Player2HealthBar myhealth="MyDBVars.P2Health" />
                </div>
            </div>
            <div class="player3window">
                <div class="playergame">
                    @if (!GameStart)
                    {
                        <div style="color:springgreen;">WAITING FOR OTHER PLAYERS</div>
                        <div style="color:springgreen;">CURRENT PLAYERS: @MyDBVars.PlayersInLobby</div>
                    }
                    else
                    {
                        <PlayerGame WhatGame="2" />
                    }
                </div>
                <div class="playerhealth">
                    <Player3HealthBar myhealth="MyDBVars.P3Health" />
                </div>
            </div>
            <div class="player4window">
                <div class="playergame">
                    @if (!GameStart)
                    {
                        <div style="color:springgreen;">WAITING FOR OTHER PLAYERS</div>
                        <div style="color:springgreen;">CURRENT PLAYERS: @MyDBVars.PlayersInLobby</div>
                    }
                    else
                    {
                        <SixNineGame/>
                    }
                </div>
                <div class="playerhealth">
                    <Player4HealthBar myhealth="MyDBVars.P4Health" />
                </div>
            </div>
        }
    </div>
    <div class="testbuttons">
        <button>sixninegame?</button>
        <button>makeasuqre?</button>
        <button>mem colornum</button>
        <a style="color:green;">your lobby number is: @MyLobbyNum</a>
        <a style="color:green;">player number is: @MyPlayerNum</a>
        <a style="color:white;">@MyG.mycursx</a>
        <a style="color:white;">@MyG.mycursy</a>
        <a style="color:yellow;">@MyG.Height</a>
        <a style="color:yellow;">@MyG.Width</a>
        @*this is the players in lobby*@
        @*<a style="color:white;">the amount of players in the lobby is:</a>
            <a style="color:white;">@HowManyPlayersInLobby</a>
            <a style="color:white;">you are player:</a>
            <a style="color:white;">@WhatPlayerAmI</a>*@
        <br />
        @if (MyG is null)
        {
            <a style="color:white;">loading coordinates</a>
        }
        else
        {
            <a style="color:white;">the following are database variables</a>
            <a style="color:white;">@MyDBVars.P1Xcords</a>
            <a style="color:white;">@MyDBVars.P1Ycords</a>
            <a style="color:white;">@MyDBVars.P3Xcords</a>
            <a style="color:white;">@MyDBVars.P3Ycords</a>
            <a style="color:white;">lobby number: </a>
            <a style="color:white;">@MyDBVars.LobbyNumber</a>
            <a style="color:white;">play1 health</a>
            <a style="color:white;">@MyDBVars.P1Health</a>
            <a style="color:white;">play2 health</a>
            <a style="color:white;">@MyDBVars.P2Health</a>
            <a style="color:white;">play3 health</a>
            <a style="color:white;">@MyDBVars.P3Health</a>
            <a style="color:white;">play4 health</a>
            <a style="color:white;">@MyDBVars.P4Health</a>
            <a style="color:red;">what is my game?: </a>
            <a style="color:white;">@MyG.MyCurrentGame</a>
            <a style="color:red;">what is my db game?: </a>
            <a style="color:white;">@MyDBVars.P1Game</a>
        }
    </div>
    <div class="names">
        <div class="name1">Player 1</div>
        <div class="name2">Player 2</div>
        <div class="name3">Player 3</div>
        <div class="name4">Player 4</div>
    </div>
    <div class="timer"><strong>@stopwatchvalue</strong></div>
</div>
@code{
    //TeamGame.Pages.GamePageLogic
}